<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("TempleMembers")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("TempleMembersHeaderInfo")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.TempleMembers.Create')" (click)="createTempleMember()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewTempleMember")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getTempleMembers()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>

	
							<div class="col-md-3">
                                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
                                    <div class="m-stack__item">
										<label for="IsApprovedFilterSelect">{{l("IsApproved")}}</label>
										<div class="m-separator m-separator--dashed"></div>
										<select class="form-control" name="IsApprovedFilter" id="IsApprovedFilterSelect" [(ngModel)]="isApprovedFilter">
										<option value="-1">{{l("All")}}</option>
										<option value="0">{{l("False")}}</option>
										<option value="1">{{l("True")}}</option>
										</select>
									</div>
								</div>
                            </div>
							<div class="col-md-3">
                                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
									<div class="form-group">
										<div class="m-stack__item">
											<label>({{l("User")}}) {{l("Name")}}</label>
											 <div class="m-separator m-separator--dashed"></div>
										    <input type="text" class="form-control" name="userNameFilter" [(ngModel)]="userNameFilter">
										</div>
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
                                <div class="m-stack m-stack--ver m-stack--general m-stack--demo">
									<div class="form-group">
										<div class="m-stack__item">
											<label>({{l("Temple")}}) {{l("Name")}}</label>
											 <div class="m-separator m-separator--dashed"></div>
										    <input type="text" class="form-control" name="templeNameFilter" [(ngModel)]="templeNameFilter">
										</div>
									</div>
                                </div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getTempleMembers($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.TempleMembers.Edit', 'Pages.TempleMembers.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="templeMember.marks">
                                        {{l('Marks')}}
                                        <p-sortIcon field="templeMember.marks"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="templeMember.isApproved">
                                        {{l('IsApproved')}}
                                        <p-sortIcon field="templeMember.isApproved"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="userName">
                                        {{l('Name')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="templeName">
                                        {{l('Name')}}
                                        <p-sortIcon field="templeName"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.TempleMembers.Edit', 'Pages.TempleMembers.Delete')">
                                        <div class="btn-group dropdown" normalizePosition>
                                            <button class="dropdown-toggle btn btn-sm btn-primary"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu">
												<li>
													<a 
														(click)="viewTempleMemberModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a *ngIf="permission.isGranted('Pages.TempleMembers.Edit')"
														(click)="createOrEditTempleMemberModal.show(record.templeMember.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a *ngIf="permission.isGranted('Pages.TempleMembers.Delete')"
														(click)="deleteTempleMember(record.templeMember)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">{{record.userName}}</td>
                                    <td style="width:150px">{{record.templeName}}</td>
                                    <td style="width:150px">{{record.templeMember.marks}}</td>
                                    <td style="width:150px">
                                        <div *ngIf="record.templeMember.isApproved" class="text-center"><i class="fa fa-check-circle m--font-success" title="True"></i></div>
										<div *ngIf="!record.templeMember.isApproved" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>


                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getTempleMembers($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditTempleMemberModal #createOrEditTempleMemberModal (modalSave)="getTempleMembers()"></createOrEditTempleMemberModal>
    <viewTempleMemberModal #viewTempleMemberModal></viewTempleMemberModal>
</div>