<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Name")}} :</h6>
                        <label> {{item.foreFather.name}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Century")}} :</h6>
                        <label> {{item.foreFather.century}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("BornAt")}} :</h6>
                        <label> {{item.foreFather.bornAt}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("DieAt")}} :</h6>
                        <label> {{item.foreFather.dieAt}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("LoveNumber")}} :</h6>
                        <label> {{item.foreFather.loveNumber}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("FlowersNumber")}} :</h6>
                        <label> {{item.foreFather.flowersNumber}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("MoneyNumber")}} :</h6>
                        <label> {{item.foreFather.moneyNumber}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("GoldNumber")}} :</h6>
                        <label> {{item.foreFather.goldNumber}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Lon")}} :</h6>
                        <label> {{item.foreFather.lon}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Lat")}} :</h6>
                        <label> {{item.foreFather.lat}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>
                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>{{l("Marks")}} :</h6>
                        <label> {{item.foreFather.marks}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>

                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                        <h6>({{l("BinaryObject")}}) {{l("TenantId")}} :</h6>
                        <label> {{item.binaryObjectTenantId}}</label>
                    </div>
                    <div class="m-separator m-separator--dashed"></div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
